<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div class="container">
    <div>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>Question</th>
                <th>Answer</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="memo : ${memos}">
                <td th:text="${memo.id}"></td>
                <td th:text="${memo.question}"></td>
                <td th:text="${memo.answer}"></td>
                <td th:text="${memo.createdDate}"></td>
                <!--                <td th:text="${#dates.format(memo.createdDate, 'yyyy-MM-dd')}"></td>-->
            </tr>
            </tbody>
        </table>
        <ul class="nav nav-pills pull-right">
            <li><a href="/">Home</a></li>
        </ul>
    </div>
</div>
</body>
</html>